:root {
  --bw-font-xs: 0.75rem;
  --bw-font-sm: 0.875rem;
  --bw-font-base: 1rem;
  --bw-font-lg: 1.125rem;
  --bw-font-xl: 1.25rem;
  --bw-font-2xl: 1.5rem;
  --bw-font-3xl: 1.875rem;

  --bw-weight-thin: 100;
  --bw-weight-extralight: 200;
  --bw-weight-light: 300;
  --bw-weight-normal: 400;
  --bw-weight-medium: 500;
  --bw-weight-semibold: 600;
  --bw-weight-bold: 700;
  --bw-weight-extrabold: 800;
  --bw-weight-black: 900;

  --bw-line-none: 1;
  --bw-line-tight: 1.25;
  --bw-line-snug: 1.375;
  --bw-line-normal: 1.5;
  --bw-line-relaxed: 1.625;
  --bw-line-loose: 2;
  --bw-line-3: 0.75rem;
  --bw-line-4: 1rem;
  --bw-line-5: 1.25rem;
  --bw-line-6: 1.5rem;
  --bw-line-7: 1.75rem;
  --bw-line-8: 2rem;
  --bw-line-9: 2.25rem;
  --bw-line-10: 2.5rem;

  --bw-shadow-sm:
    0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);
  --bw-shadow-xs: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  --bw-shadow-md:
    0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.1);
  --bw-shadow-lg:
    0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
  --bw-shadow-xl:
    0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
  --bw-shadow-2xl: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  --bw-shadow-none: none;

  --bw-radius-xs: 0.125rem;
  --bw-radius-sm: 0.25rem;
  --bw-radius-md: 0.375rem;
  --bw-radius-lg: 0.5rem;
  --bw-radius-xl: 0.75rem;
  --bw-radius-2xl: 1rem;
  --bw-radius-3xl: 1.5rem;
  --bw-radius-full: 9999px;

  --bw-color-black: rgb(0, 0, 0);
  --bw-color-white: rgb(255, 255, 255);

  --bw-color-blue-50: rgb(239, 246, 255);
  --bw-color-blue-100: rgb(219, 234, 254);
  --bw-color-blue-200: rgb(191, 219, 254);
  --bw-color-blue-300: rgb(147, 197, 253);
  --bw-color-blue-400: rgb(96, 165, 250);
  --bw-color-blue-500: rgb(59, 130, 246);
  --bw-color-blue-600: rgb(37, 99, 235);
  --bw-color-blue-700: rgb(29, 78, 216);
  --bw-color-blue-800: rgb(30, 64, 175);
  --bw-color-blue-900: rgb(30, 58, 138);
  --bw-color-blue-950: rgb(23, 37, 84);

  --bw-color-red-50: rgb(254, 242, 242);
  --bw-color-red-100: rgb(254, 226, 226);
  --bw-color-red-200: rgb(254, 202, 202);
  --bw-color-red-300: rgb(252, 165, 165);
  --bw-color-red-400: rgb(248, 113, 113);
  --bw-color-red-500: rgb(239, 68, 68);
  --bw-color-red-600: rgb(220, 38, 38);
  --bw-color-red-700: rgb(185, 28, 28);
  --bw-color-red-800: rgb(153, 27, 27);
  --bw-color-red-900: rgb(127, 29, 29);
  --bw-color-red-950: rgb(69, 10, 10);

  --bw-color-zinc-50: rgb(250, 250, 250);
  --bw-color-zinc-100: rgb(244, 244, 245);
  --bw-color-zinc-200: rgb(228, 228, 231);
  --bw-color-zinc-300: rgb(212, 212, 216);
  --bw-color-zinc-400: rgb(161, 161, 170);
  --bw-color-zinc-500: rgb(113, 113, 122);
  --bw-color-zinc-600: rgb(82, 82, 91);
  --bw-color-zinc-700: rgb(63, 63, 70);
  --bw-color-zinc-800: rgb(39, 39, 42);
  --bw-color-zinc-900: rgb(24, 24, 27);
  --bw-color-zinc-950: rgb(9, 9, 11);

  --bw-timing-easein: cubic-bezier(0, 0, 0.2, 1);
  --bw-timing-easeout: cubic-bezier(0.4, 0, 1, 1);

  --bw-blur-xs: blur(4px);
  --bw-blur-sm: blur(8px);
  --bw-blur-md: blur(12px);
  --bw-blur-lg: blur(16px);
  --bw-blur-xl: blur(24px);
  --bw-blur-2xl: blur(40px);
  --bw-blur-3xl: blur(64px);

  --bw-space-0: 0;
  --bw-space-0-5: 0.125rem;
  --bw-space-1: 0.25rem;
  --bw-space-1-5: 0.375rem;
  --bw-space-2: 0.5rem;
  --bw-space-2-5: 0.625rem;
  --bw-space-3: 0.75rem;
  --bw-space-3-5: 0.875rem;
  --bw-space-4: 1rem;
  --bw-space-5: 1.25rem;
  --bw-space-6: 1.5rem;
  --bw-space-7: 1.75rem;
  --bw-space-8: 2rem;
  --bw-space-9: 2.25rem;
  --bw-space-10: 2.5rem;
  --bw-space-11: 2.75rem;
  --bw-space-12: 3rem;
  --bw-space-14: 3.5rem;
  --bw-space-16: 4rem;
  --bw-space-20: 5rem;
  --bw-space-24: 6rem;
  --bw-space-28: 7rem;
  --bw-space-32: 8rem;
  --bw-space-36: 9rem;
  --bw-space-40: 10rem;
  --bw-space-48: 12rem;
  --bw-space-56: 14rem;
  --bw-space-64: 16rem;
  --bw-space-72: 18rem;
  --bw-space-80: 20rem;
  --bw-space-96: 24rem;
}
